/* STYLESHEET FOR INDEX.HTML (LANDING PAGE) */

body {
    flex: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono'; font-size: 18px;
}

.subtitle {
    font-size: 13px;
    margin-bottom: 20px;
}
.subtitle:hover {
    cursor: default;
}

.homepageTitle {
    font-size: 27px;
    margin-bottom: auto;
}
.homepageTitle a {
    text-decoration: none;
    color: black;
}
.homepageTitle:hover {
    cursor: default;
}

.menuContainer {
    margin-top:25px ;

    width: 200px;
    height: fit-content;
    border: none;
    background-color: #eee;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.vertical-menu {
    width: 200px;
    border: none;
    border-radius: 10px;
}
.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}
.vertical-menu .backButton {
    background-color: #ccc;
}
.vertical-menu a:hover {
    background-color: #a5a5a5;
}
